<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1031841533403-gq5jathqm68iqq948c4fvl0ebcn964je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031841533403-gq5jathqm68iqq948c4fvl0ebcn964je</string>
	<key>API_KEY</key>
	<string>AIzaSyAizX8_E6rB0NgvGJL6Jfvz6TJHH8NWdfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1031841533403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-234.Map-RPG-Game</string>
	<key>PROJECT_ID</key>
	<string>map-rpg-game</string>
	<key>STORAGE_BUCKET</key>
	<string>map-rpg-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031841533403:ios:8c3dded87974a085</string>
	<key>DATABASE_URL</key>
	<string>https://map-rpg-game.firebaseio.com</string>
</dict>
</plist>